__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.env
*.env.*
secrets/
*.log
*.tmp
*.bak
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
docker-compose.override.yaml
compose.override.yaml
.DS_Store
*.swp
*~
